---
layout: base
pagination:
    data: products
    size: 1
    alias: product
permalink: "create-review/{{ product.Id }}/"
eleventyComputed:
   headText: "Create Review for {{ product.Name }}"
---
<button class="button" onclick="window.location.href='/products/{{ product.Id }}'">Back to Product Overview</button> 
<div class="grid-container">

  <div class="createReviewForm">
  <div class="login-box">
    <h2>Create Review</h2>
    <form action="{{ page.url }}" method="post">
      <div class="user-box">
        <input type="text" name="reviewName" required="">
        <label>Review Title</label>
      </div>
      <div class="user-box">
        <textarea name="Description" cols="40" rows="5"></textarea>
        <label>Review Description</label>
      </div>
      <button class="button" type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
    </button>
    </form>
  </div>
</div>
<div class="gptresponse"> 
 {% edge %} 

 <div class="login-box">
  <h2>Response</h2>
 <p>
   {{SomeData}}
 </p>
</div>
 {% endedge %}
</div>
</div>