---
layout: base
pagination:
    data: products
    size: 1
    alias: product
permalink: "products/{{ product.Id }}/"
eleventyComputed:
   headText: "{{ product.Name }}"
---
<button class="button" onclick="window.location.href='/productlist'">All Products</button>
<span class="a">
<h2>Product Information</h2>
<h4>Product Description: </h4> {{ product.Description }} 
<h4>Product Family: </h4>{{ product.Family }}
</span>
<span class="a">
<h2>Reviews</h2>
{% edge %}
   {% assign reviewdata = SomeData %}
   <table>
      <tr>
        <th>Review Title</th>
        <th>Review Description</th>
      </tr>
   {% for item in reviewdata %}
      <tr>
            <td><a href="/reviews/{{item.Id}}"">{{item.Name}}</a></td>
            <td>{{item.Review_Description__c}}</td>
      </tr>
   {% endfor%}
   </table>
{% endedge %}
</span>