---
layout: base
pagination:
    data: reviews
    size: 1
    alias: review
    addAllPagesToCollections: true
permalink: "reviews/{{ review.Id }}/"
tags: reviews
headText: Review Info
---
<!--This page will generate a new page for every review in the database. This page does not need an edge because the topics data is loaded as part of the edge.-->
<button class="button" onclick="javascript:history.back()">Go Back</button>
{%- for item in pagination.items %}
   <h2>Review Information</h2>
   <h4>Review Name: </h4> <p>{{ item.Name }} </p>
   <h4>Review Description: </h4> <p>{{ item.Review_Description__c }} </p>
   <h2>Topics</h2>
   {% if item.Topics__r.size > 0 %}
   <table>
      <tr>
        <th>Topic Name</th>
        <th>Topic Category</th>
        <th>Topic Sentiment</th>
      </tr>
   {% for topic in item.Topics__r.records %}
         <tr>
           <td> {{ topic.Name }} </td>
           <td> {{ topic.Topic_Category__c }} </td>
           <td> {{ topic.Topic_Sentiment__c }} </td>
         </tr>
   {% endfor -%}
   </table>
{% endif %}
 {% endfor -%}